<section id="ustream">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="386" id="utv637441">
    <param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=5706222" />
    <param name="allowfullscreen" value="true"/>
    <param name="allowscriptaccess" value="always"/>
    <param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/>
    <embed flashvars="autoplay=false&amp;brand=embed&amp;cid=5706222"
           width="640" height="386" allowfullscreen="true" allowscriptaccess="always"
           id="utv637441" name="utv_n_388619" src="http://www.ustream.tv/flash/viewer.swf"
           type="application/x-shockwave-flash" />
  </object>
</section>
<section id="character">
  <%= render @character %>
</section>
<% unless @character.videos.empty? %>
  <section id="videos">
    <h1>Videos</h1>
    <%= render @character.videos %>
  </section>
<% end %>
